@charset "UTF-8";
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "Montserrat", "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 28px;
}

ul {
  margin: 0;
}
ul li {
  list-style-type: none;
}

a.color {
  background-color: #223F99;
  border-radius: 15em;
  padding: 5px 10px;
  color: #fff;
  display: inline-block;
}
a.more-citation {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 15px;
  display: block;
  margin: 15px 0;
  color: #000;
  text-align: center;
}

.img img {
  width: 100%;
}

.btn {
  border-radius: 15rem;
  padding: 10px;
  display: block;
  font-family: DINCondensed, sans-serif;
  font-size: 22px;
  text-align: center;
}
.btn:hover {
  text-decoration: none;
  background-color: #192e6f;
  color: #fff;
}
.btn-yellow {
  background-color: #FF8A00;
  color: #fff;
  text-transform: uppercase;
}
.btn-blue {
  background-color: #223F99;
  color: #fff;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.btn-icon {
  background-repeat: no-repeat;
  background-size: 1.7em;
  background-position: 15px 8px;
  text-transform: uppercase;
  border-radius: 5px;
  width: auto;
  padding: 10px 10px 10px 55px;
  display: inline-block;
}
.btn-pdf {
  background-image: url("../img/icon-pdf.png");
}
.btn-read {
  background-image: url("../img/icon-book.png");
}

.submenu {
  width: 100%;
}
.submenu ul {
  padding: 0;
}
.submenu ul li {
  background-color: #FF8A00;
  text-transform: uppercase;
}
.submenu ul li:hover {
  background-color: #cc6e00;
}
.submenu ul li:hover a {
  text-decoration: none;
}
.submenu ul li a {
  color: #fff;
  padding: 10px 15px;
  text-align: right;
  display: block;
  font-weight: 800;
  margin-bottom: 5px;
  font-weight: 600;
}

.quote {
  background-color: #F1F1F1;
  border-radius: 15px;
  padding: 15px;
}

h4.title {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
}

.icon {
  background-image: url("../img/sets.png");
}
.icon-auth {
  background-position: 0 5px;
  background-size: 25%;
  background-repeat: no-repeat;
}

.header .title {
  font-family: DINCondensed, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  color: #223F99;
  font-size: 28px;
}
.header .top.right {
  display: flex;
}
.header .top.right a {
  display: inline-block;
}
.header .logo {
  vertical-align: bottom;
  padding: 10px;
}
.header .logo img {
  width: 80%;
}
.header ul {
  margin: 0;
}
.header ul li {
  padding: 5px 15px;
}
.header ul li a {
  color: #000;
}
.header .lang-wrap {
  position: relative;
  width: 65px;
}
.header .lang-wrap::after {
  content: "";
  height: 20px;
  width: 1px;
  background: #000;
  right: 0;
  top: 5px;
  position: absolute;
}
.header ul.lang {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  z-index: 9;
  padding: 0;
}
.header ul.lang li {
  display: none;
}
.header ul.lang li a {
  text-decoration: none;
}
.header ul.lang li.active {
  display: block;
  font-weight: 800;
}
.header ul.lang li.active::before {
  content: "⯆";
  position: absolute;
  right: 0;
  top: 4px;
  color: #000;
}
.header ul.lang li:hover a {
  color: #223F99;
}
.header ul.lang:hover li {
  display: block;
}
.header ul.link {
  padding-left: 10px;
}
.header ul.link li {
  display: inline-block;
}
.header ul.link li.login {
  padding-left: 40px;
}
.header .search input[type=text] {
  border-radius: 15px;
  border: 1px solid #000;
  margin: 5px 0;
  padding: 0 15px;
}
.header .top-line {
  background-color: #223F99;
  font-family: "Montserrat", sans-serif;
}
.header .top-line .block {
  display: inline-block;
}
.header .top-line .block.logo {
  width: 15%;
}
.header .top-line .block.menu {
  width: 60%;
}
.header .top-line .block.btn-wrap {
  width: 20%;
  float: right;
}
.header .top-line .block.btn-wrap .btn {
  padding: 2px;
  margin-top: 10px;
  font-size: 30px;
}
.header .top-line ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.header .top-line ul li {
  font-size: 18px;
  position: relative;
  display: inline-block;
}
.header .top-line ul li:hover {
  background-color: #425BA8;
}
.header .top-line ul li:hover ul {
  display: block;
}
.header .top-line ul li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 15px 0;
}
.header .top-line ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.header .top-line ul li.sub {
  padding-right: 20px;
  display: block;
}
.header .top-line ul li.sub::after {
  content: "⯆";
  position: absolute;
  color: #fff;
  right: 0;
  top: 50%;
  margin-top: -15px;
  width: 15px;
  height: 20px;
  vertical-align: top;
}
.header .top-line ul li ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 320px;
  background: #223F99;
  display: none;
  z-index: 9;
}
.header .top-line ul li ul li {
  display: block;
}
.header .top-line ul li ul li a {
  font-weight: 300;
  padding: 5px;
}

.main {
  margin-top: 55px;
}
.main .center-wrap .site-title {
  font-size: 54px;
  font-family: DINCondensed, sans-serif;
  font-weight: 400;
  line-height: 1em;
  text-transform: uppercase;
  margin-top: 0;
}
.main .center-wrap .btn-wrap .btn {
  display: inline-block;
  width: 45%;
}

.block-title {
  margin: 10px 0;
  line-height: 1.2;
  font-size: 34px;
  text-transform: uppercase;
  font-family: DINCondensed, sans-serif;
}
.block-list .block {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4784313725);
  padding: 15px;
  margin: 35px 0;
  position: relative;
}
.block-list .block-title {
  font-size: 40px;
  text-transform: uppercase;
  font-family: DINCondensed, sans-serif;
  line-height: 1.2;
}
.block-list .block .authors a {
  color: #000;
  text-transform: uppercase;
  border-right: 1px solid #000;
  padding: 0 10px;
}
.block-list .block .authors a:last-child {
  border: none;
}
.block-list .block .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  margin: 25px 0;
}
.block-list .block .pages {
  position: absolute;
  top: 15px;
  right: 15px;
}
.block-list .block .btn-wrap .btn {
  width: auto;
}
.block-article .info {
  text-transform: uppercase;
  font-size: 18px;
}
.block-article .authors {
  padding: 15px 0;
}
.block-article .suumary {
  background-color: #f1f1ff;
  padding: 15px;
  border-radius: 10px;
}
.block-article .suumary .title {
  text-transform: uppercase;
  font-size: 24px;
  font-family: DINCondensed, sans-serif;
}
.block-article-right .info {
  margin-top: 15px;
}
.block-article-right .info .title {
  font-size: 18px;
}
.block-article-right .info.keywords a {
  margin: 4px 0;
}
.block-content ul li {
  list-style-type: disc;
}
.block-archive .year {
  text-transform: uppercase;
  font-size: 28px;
  font-family: DINCondensed, sans-serif;
  font-weight: 700;
}
.block-archive .issues {
  display: flex;
  flex: 0 0 4;
}
.block-archive .issues .issue {
  padding: 15px;
}
.block-archive .issues .issue img {
  width: 100%;
}

footer {
  background-color: #223F99;
  padding: 15px;
  color: #fff;
  margin-top: 55px;
}
footer a {
  color: #fff;
  text-decoration: underline;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
footer .left {
  text-align: left;
}
footer .right {
  text-align: right;
}
footer .mt {
  margin-top: 55px;
}
footer .zerone img {
  margin-right: 15px;
}/*# sourceMappingURL=main.css.map */