@charset "UTF-8";
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "Montserrat", "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

ul li {
  list-style-type: none;
}

.img img {
  width: 100%;
}

.btn {
  border-radius: 15rem;
  padding: 10px;
  display: block;
  font-family: DINCondensed, sans-serif;
  font-size: 22px;
  text-align: center;
}
.btn-yellow {
  background-color: #FF8A00;
  color: #fff;
  text-transform: uppercase;
}
.btn-yellow:hover {
  text-decoration: none;
}
.btn-blue {
  background-color: #223F99;
  color: #fff;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.header .title {
  font-family: DINCondensed, sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: #223F99;
  font-size: 28px;
}
.header .top.right {
  display: flex;
}
.header .top.right a {
  display: inline-block;
}
.header .logo {
  vertical-align: bottom;
  padding: 10px;
}
.header .logo img {
  width: 80%;
}
.header ul {
  margin: 0;
}
.header ul li {
  padding: 5px 15px;
}
.header ul li a {
  color: #000;
}
.header ul.lang li {
  display: none;
}
.header ul.lang li.active {
  display: block;
}
.header ul.lang:hover li {
  display: block;
}
.header ul.link li {
  display: inline-block;
}
.header .top-line {
  background-color: #223F99;
  font-family: "Montserrat", sans-serif;
}
.header .top-line .block {
  display: inline-block;
}
.header .top-line .block.logo {
  width: 15%;
}
.header .top-line .block.menu {
  width: 60%;
}
.header .top-line .block.btn-wrap {
  width: 20%;
}
.header .top-line ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.header .top-line ul li {
  font-size: 18px;
  position: relative;
  display: inline-block;
}
.header .top-line ul li:hover {
  background-color: #425BA8;
}
.header .top-line ul li:hover ul {
  display: block;
}
.header .top-line ul li a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding: 15px 0;
}
.header .top-line ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.header .top-line ul li.sub {
  padding-right: 20px;
  display: block;
}
.header .top-line ul li.sub::after {
  content: "⯆";
  position: absolute;
  color: #fff;
  right: 0;
  top: 50%;
  margin-top: -15px;
  width: 15px;
  height: 20px;
  vertical-align: top;
}
.header .top-line ul li ul {
  position: absolute;
  left: 0;
  top: 100%;
  width: 320px;
  background: #223F99;
  display: none;
  z-index: 9;
}
.header .top-line ul li ul li {
  display: block;
}
.header .top-line ul li ul li a {
  font-weight: 300;
  padding: 5px;
}

.main {
  margin-top: 55px;
}
.main .center-wrap .site-title {
  font-size: 54px;
  font-family: DINCondensed, sans-serif;
  line-height: 1em;
  text-transform: uppercase;
  margin-top: 0;
}
.main .center-wrap .btn-wrap .btn {
  display: inline-block;
  width: 45%;
}/*# sourceMappingURL=main.css.map */