@import "bourbon/bourbon"

$accent: #223F99
$yellow: #FF8A00

html.js .loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

body
	font-family: 'Montserrat', "RobotoRegular", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialiased
	overflow-x: hidden
	padding: 0
	margin: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none
h1
	font-size: 54px
h2
	font-size: 48px
h3
	font-size: 34px
h4
	font-size: 28px
ul
	margin: 0
	li
		list-style-type: none
a
	text-decoration: none
	&.color
		background-color: $accent
		border-radius: 15em
		padding: 5px 10px
		color: #fff
		display: inline-block
	&.more-citation
		border: 1px solid #000
		border-radius: 5px
		padding: 10px 15px
		display: block
		margin: 15px 0
		color: #000
		text-align: center
.img
	img
		width: 100%
// BUTTONS
.btn
	border-radius: 15rem
	padding: 10px
	display: block
	font-family: DINCondensed, sans-serif
	font-size: 22px
	text-align: center
	&:hover
		text-decoration: none
		background-color: darken($accent, 10)
		color: #fff
	&-yellow
		background-color: $yellow
		color: #fff
		text-transform: uppercase
	&-blue
		background-color: $accent
		color: #fff
		padding: 5px
		font-family: 'Montserrat', sans-serif
		font-size: 18px
	&-icon
		background-repeat: no-repeat
		background-size: 1.7em
		background-position: 15px 8px
		text-transform: uppercase
		border-radius: 5px
		width: auto
		padding: 10px 10px 10px 55px
		display: inline-block
	&-pdf
		background-image: url('../img/icon-pdf.png')
	&-read
		background-image: url('../img/icon-book.png')
	&-primary
		font-family: DINCondensed, sans-serif
		font-size: 24px
		display: inline-block
		padding: 5px 35px

// MENU
.submenu
	width: 100%
	ul
		padding: 0
		li
			background-color: $yellow
			text-transform: uppercase
			&:hover
				background-color: darken($yellow, 10)
				a
					text-decoration: none
			a
				color: #fff
				padding: 10px 15px
				text-align: right
				display: block
				font-weight: 800
				margin-bottom: 5px
				font-weight: 600
// MOBILE MENU
.mmenu 
	position: relative 
	display: inline-block 
	width: 30px 
	height: 30px 
	margin: 5px 
	span 
		margin: 0 auto 
		position: relative 
		top: 10px 
		&:before 
			margin-top: -10px 
		&:after 
			margin-top: 10px 
	span:before, span:after 
		position: absolute 
		content: '' 
	span, span:before, span:after 
		width: 30px 
		height: 3px 
		background-color: #fff 
		display: block 
	span 
		-webkit-transition-duration: 0s 
		transition-duration: 0s 
		-webkit-transition-delay: 0.2s 
		transition-delay: 0.2s 
		&:before 
			-webkit-transition-property: margin, -webkit-transform 
			transition-property: margin, transform 
			-webkit-transition-duration: 0.2s 
			transition-duration: 0.2s 
			-webkit-transition-delay: 0.2s, 0s 
			transition-delay: 0.2s, 0s 
		&:after 
			-webkit-transition-property: margin, -webkit-transform 
			transition-property: margin, transform 
			-webkit-transition-duration: 0.2s 
			transition-duration: 0.2s 
			-webkit-transition-delay: 0.2s, 0s 
			transition-delay: 0.2s, 0s 
	&:hover 
		span 
			background-color: rgba(0,0,0,0.0) 
			-webkit-transition-delay: 0.2s 
			transition-delay: 0.2s 
			&:before 
				margin-top: 0 
				-webkit-transform: rotate(45deg) 
				transform: rotate(45deg) 
				-webkit-transition-delay: 0s, 0.2s 
				transition-delay: 0s, 0.2s 
			&:after 
				margin-top: 0 
				-webkit-transform: rotate(-45deg) 
				transform: rotate(-45deg) 
				-webkit-transition-delay: 0s, 0.2s 
				transition-delay: 0s, 0.2s 

.quote
	background-color: #F1F1F1
	border-radius: 15px
	padding: 15px
h4.title
	font-size: 50px
	font-family: DINCondensed, sans-serif
	text-transform: uppercase
	font-weight: 600	

.icon
	background-image: url('../img/sets.png')	
	&-auth
		background-position: 0 5px
		background-size: 25%
		background-repeat: no-repeat
.header
	.title
		font-family: DINCondensed, sans-serif
		text-transform: uppercase
		font-weight: 400
		margin: 0
		color: $accent
		font-size: 28px
		line-height: 1em
	.top
		padding: 15px 0
		&.right
			display: flex
			align-items: center
			a
				display: inline-block
	.logo
		vertical-align: bottom
		padding: 10px
		img
			width: 72%
	ul
		margin: 0
		li
			padding: 5px 15px
			a
				color: #000
	.lang-wrap
		position: relative
		width: 65px
		height: 30px
		&::after
			content: ''
			height: 20px
			width: 1px
			background: #000
			right: 0
			top: 5px
			position: absolute
	.mobile-logo, .mobile-menu-wrap
		display: none

	ul.lang
		position: absolute
		background-color: #fff
		border-radius: 5px
		z-index: 9
		padding: 0
		li
			display: none
			a
				text-decoration: none
			&.active
				display: block
				font-weight: 800
				&::before
					content: "⯆"
					position: absolute
					right: 0
					top: 4px
					color: #000
			&:hover
				a
					color: $accent
		&:hover li
			display: block
	ul.link 
		padding-left: 10px
		li
			display: inline-block
			&.login
				padding-left: 40px
	.search-wrap
		input[type="text"]
			width: 100%
			border-radius: 15px
			border: 1px solid #000
			margin: 5px 0
			padding: 5px 15px
	.top-line
		background-color: $accent
		font-family: 'Montserrat', sans-serif
		.block
			display: inline-block
			&.logo
				width: 15%
			&.menu
				width: 60%
			&.btn-wrap
				width: 20%
				float: right
				.btn
					padding: 2px
					margin-top: 10px
					font-size: 30px
		ul
			display: flex
			padding: 0
			margin: 0
			li
				font-size: 18px
				position: relative
				display: inline-block
				&:hover 
					background-color: #425BA8
					ul
						display: block
				a
					color: #fff
					font-weight: bold
					text-transform: uppercase
					display: block
					padding: 15px 0
					&:hover
						color: #fff
						text-decoration: none
				&.sub
					padding-right: 30px
					display: block
					&::after
						content: '⯆'
						position: absolute
						color: #fff
						right: 0
						top: 50%
						margin-top: -15px
						width: 15px
						height: 20px
						vertical-align: top
						right: 10px
				ul
					position: absolute
					left: 0
					top: 100%
					width: 320px
					background: $accent
					display: none
					z-index: 9
					li
						display: block
						a
							font-weight: 300
							padding: 5px
.main
	margin-top: 55px
	.center-wrap
		.mobile-cover
			display: none
		.site-title
			font-size: 54px
			font-family: DINCondensed, sans-serif
			font-weight: 400
			line-height: 1em
			text-transform: uppercase
			margin-top: 0
		.btn-wrap
			.btn
				display: inline-block
				width: 45%

.block
	&-title
		margin: 10px 0
		line-height: 1.2
		font-size: 34px
		text-transform: uppercase
		font-family: DINCondensed, sans-serif
	&-sliders
		.slider
	&-list
		.block
			box-shadow: 0 5px 15px #0000007a
			padding: 15px
			margin: 35px 0
			position: relative
			&-title
				font-size: 40px
				text-transform: uppercase
				font-family: DINCondensed, sans-serif
				line-height: 1.2
			.authors
				a
					color: #000
					text-transform: uppercase
					border-right: 1px solid #000
					padding: 0 10px
					&:last-child
						border: none
			.title
				font-weight: 600
				font-size: 18px
				line-height: 1.2
				margin: 25px 0
			.pages
				position: absolute
				top: 15px
				right: 15px
			.btn-wrap .btn
				width: auto
	&-article
		.info
			text-transform: uppercase
			font-size: 18px
		.authors
			padding: 15px 0
		.suumary
			background-color: #f1f1ff
			padding: 15px
			border-radius: 10px
			.title
				text-transform: uppercase
				font-size: 24px
				font-family: DINCondensed, sans-serif
		&-right
			.info
				margin-top: 15px
				.title
					font-size: 18px
				&.keywords
					a
						margin: 4px 0
	&-content
		ul
			li
				list-style-type: disc
	&-archive
		.year
			text-transform: uppercase
			font-size: 28px
			font-family: DINCondensed, sans-serif
			font-weight: 700
		.issues
			display: flex
			flex: 0 0 4
			.issue
				padding: 15px
				position: relative
				img
					width: 100%
				.title-wrap
					position: absolute
					top: 0
					left: 0
					padding: 15px
					width: 100%
					height: 100%
					background-color: $accent
					color: #fff
					text-align: center

footer
	background-color: #022967
	padding: 15px
	color: #fff
	margin-top: 55px
	a
		color: #fff
		text-decoration: underline
		&:hover
			color: #fff
			text-decoration: none
	.left
		text-align: left
	.right
		text-align: right
	.mt
		margin-top: 55px
	.zerone
		img
			margin-right: 15px

@import "media"